.user-list-container {
    margin-top: 30px;
    flex-grow: 1;
    overflow: auto;
    padding-top: 20px;
    gap: 310px;
}

.user-list-container ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.email-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 12px;
    padding: 10px 15px;
    color: white;
}

.email-item:hover {
    background-color: rgba(255, 255, 255, 0.05);
    cursor: pointer;
}

.user-info-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.user-menu-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 70px;
}

.email-item svg {
    margin-left: 15%;
    margin-top: -10px;
    width: 20px;
    height: 20px;
}

.email-item .iconRename {
    position: absolute;
    margin-left: 0px;
    width: 20px;
    height: 13px;
  }
  
.no-users {
   color: white;
}

@media(max-width:550px) {
    .email-text {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 70px;
    }
}