body {
 background-color: #1E1E1E;
}

.email-container {
  position: relative;
  max-width: 654px;
  max-height: 502px;

  margin: 0 auto;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-color: rgba(92, 92, 92, 0.6);
  border-radius: 15px;

  box-sizing: border-box;
}

.email-container  * {
  border: 1px solid red;
}

.email-container-header {
  position: absolute;
  top: 0px;
  left: 0;
  width: 100%;
  padding-top: 30px;
}

.user-container {
  background-color: cadetblue;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 19px 0px 30px;
}

.add-email {
  width: 100%;
  background-color: bisque;
}

.user-list-container {
  min-height: 377px;
  width: 100%;
  padding-top: 142px;
  overflow: auto;
  background-color: cornflowerblue;
}

.add-email {
  position: relative;
  display: inline-block; 
  padding: 16px 20px 16px 30px;
}

.add-email input{
  width: 100%;
  background-color: hsla(0, 0%, 0%, 0.3);
  padding: 15px;
  border-radius: 20px;
  border: none;
  margin-right: -10px;
}

.add-email button {
  position: absolute;
  right: 30px;
  top: 20px;
  padding: 9px 15px 9px 27px;
  border-radius: 20px;
  border: none;
  color: white;
  margin-left: 30px;
  background-color: rgba(2, 2, 2, 0.1);
  cursor: pointer;
} 

/* .user-container {
  display: flex;
  align-items: center;
  gap: 295px;
  margin-top: -40%;
}

.link {
  color: #52BB4D;
}

*/

