.wrapper {
   display: flex;
   align-items: center;
   justify-content: center;
   height: 100vh;
   width: 100vw;
}
.email-container {
  margin: 0 auto;
  width: 654px;
  min-height: 502px;
  background-color: rgba(92, 92, 92, 0.6);
  border-radius: 20px;
  box-sizing: border-box;
  padding: 30px;
  display: flex;
  flex-direction: column;
}

.btn svg{
  width: 20px;
  height: 20px;
}

.btn .svg-use-container use {
  fill-opacity: 1;
}


@media (max-width: 690px) {
  .email-container {
    max-width: 90%;
    padding: 20px;
    
  }
}

@media (max-width: 760px) {
  .email-container {
    min-height: 400px;
  }
  
}